
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #18192D;
}

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}



.menu {

   
}
.menu-list {
    display: flex;
    justify-content:space-between;
    margin-left: 20%;
    margin-right:20%;
    margin-top: 3%;
}

li {
    font-size: 1.2vw;
    color: white; 
}



video {
    display:flex;
    width: 100%;
    }

    .heading {
        color: white;
        margin-left: 20%;
        margin-top: 15%;
    }

    .big-title {
        font-size: 4vw;
        letter-spacing: 0.3em;
        line-height: 2;
    }

    .small-title {
        font-size: 1.5vw;
        letter-spacing: 0.3em;
    }

    .section-paragraph {
        position: relative;
        margin-top: 26%;
        color: white;
        background-image:url("Component 1.png");
        background-size: 100% auto;
        padding: 20px; 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about-title {
        margin-top: 10%;
        text-align: center;
        font-size:6vh;
    }
   
    .paragraph {
        margin:5% 15% 12% 15%;
        font-size:3vh;
        letter-spacing: 0.2em;
        line-height: 2;
        text-align: center;
    
    }

    .mywork-title {
        color: white;
        margin-top: 8%;
        text-align: center;
        font-size:6vh;
    }

    .grid-container {
        margin: 6%;
        display: grid;
        grid-template-columns: auto auto auto;
        overflow: hidden;
      }

      .grid-item {
          color: white;
          padding: 8%;
        text-align: center;
        transition-duration: 1s;
        
      }
   
      .grid-item:hover {
        transform:scale(1.05);
        transition-duration: 1s;
      }




      .contact-section {
        
          justify-content: center;
        background-color: #46475B;
        
      }
    
    .contact-title {
        color: white;
        font-size:6vh;
        margin: 7%;
        text-align:center;
        letter-spacing: 8px;

      }
    
      .contact-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3%;
        justify-content: center;
        margin-top: 5%;
      }


      .contact-paragraph {
          color: white;
          border: 1px solid white;
          padding: 5%;
          margin: 5%;
          flex: 1;
      }


    .contact-image {
        justify-content: right;
        flex: 1.2;
    }


    .email {
        font-size: 3vh;
    }
    .phone {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 3vh;
        
    }


    @media (max-width: 1200px) {

        .about-title {
            font-size: 5vh;
        }
      
        .paragraph {
            font-size: 2vh;
        }

        .mywork-title {
            font-size: 5vh;
        }

        .contact-content {
            flex-direction: column;
        }

        .grid-container {
            display: flex;
            flex-direction: column;
        }

    }
